body{
	background-color: #f7f7f7;
}
.join-logo{
	width:144px;
	height:44.66px;
	margin-top: 5px;
	float: left;
}
.join-logo img{
	height:30.66px;
	width: 155px;
    margin: 14px 0 9px 10px;
}
.account-menu_updated{
	margin-right: 20px;
	margin: 0 8px;
	display: inline;
    float: right;
    padding: 0;
    text-align: center;
    margin-top: 17px;
}
.account-menu_updated li:first-child {
    margin-right: 4px;
}
.account-menu_updated li {
    list-style: none;
    display: inline-block;
}
.account-menu_updated li a {
    color: #fff;
    text-decoration: none;
}
.account-menu_updated .glyphicon {
    padding: 12px 0 4px; 
}
.account-menu_updated .glyphicon {
    display: block;
    padding-bottom: 4px;
}
.off{
	display: inline-block;
	width: 100%;
	height: 120%;
	background-image: url("../img/fwxx.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 32px 32px;
	margin-bottom: 3px;
}
.on{
	border-style:none;
	display: inline-block;
	width: 100%;
	height:120%;
	background-image: url("../img/gj.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 32px 32px;
	margin-bottom: 3px;
}
.glyphicon{
	height: 25px;
}
.main-nav{
    margin-bottom: 15px;
    white-space: nowrap;
    display: table;
    table-layout: fixed; 
    width: 100%;
    border-collapse: separate;
    border-spacing: 3px 0;
}
.alignment{
    padding-bottom: 10px;
    overflow: auto;
}
.alignment h1{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}
.alignment span{
	padding-bottom: 10px;
    overflow: auto;
}
fieldset {
    padding-top: 16px;
    margin-top: 8px;
    margin-left:0px;
    border: none;
    border-bottom: 1px solid #ededed;
    background-color: #fff;
    border-radius: 4px;
    padding-left: 10px;
}
.snailmail_smaller_block img {
    max-width: 70px;
    padding: 0;
}
.adjust-address-image-container {
    margin: 0 auto;
    margin-top: 26px;
    padding: 15px 15px 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #989898;
    font-size: 12px;
    width: 95%;
    text-align: center;
}
.snailmail_smaller_block {
    text-align: initial;
}
.adjust-address-input-structure {
    padding: 0;
    padding-right: 4px;
}
.compact-about-form{
	padding-left: 0px;
}
#address_field_legend{
	margin-top:5px;
}
.address-information{
	margin-bottom: 10px;
}
.account {
	height: 65px;
	background-color: #001b42;
	margin-bottom: 10px;
}

.active {
	color: #fff;
	border-bottom: none;
}

.container {
	padding-left: 0px;
	margin-left: 0px;
}

.active {
	color: black;
}

.nav li {
	padding: 0px;
	margin: 0px;
}

.nav-steps li {
	padding-top: 15px;
	display: table-cell;
	white-space: normal;
	text-align: center;
	border-bottom: 4px solid #707070;
	height: 50px;
	width: 33.33%;
}

.main-nav>li>a {
	color: #707070;
	padding: 16px;
	border-bottom: 0;
	font-size: 13px;
	border-right: none;
	height: 100%;
}

#emnu{
	display: block;
}
a:hover {
	text-decoration: none;
}
.acti {
	color: #fff;
	background-color: #007bff;
	border-radius: .25rem;
	opacity: 0.7;
}

.col-xs-9 {
	float: left;
}

.col-xs-3 {
	float: left;
}
textarea{
	resize:none;
	height: 130px;
}

/* 第三部分 */
.upload_warp_img_div_del {
  position: absolute;
  top: 6px;
  width: 16px;
  right: 4px;
}
.upload_warp_img_div_top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  line-height: 30px;
  text-align: left;
  color: #fff;
  font-size: 12px;
  text-indent: 4px;
}
.upload_warp_img_div_text {
  white-space: nowrap;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.upload_warp_img_div img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.upload_warp_img_div {
  position: relative;
  height: 100px;
  width: 120px;
  border: 1px solid #ccc;
  margin: 0px 30px 10px 0px;
  float: left;
  line-height: 100px;
  display: table-cell;
  text-align: center;
  background-color: #eee;
  cursor: pointer;
}
.upload_warp_img {
  border-top: 1px solid #D2D2D2;
  padding: 14px 0 0 14px;
  overflow: hidden
}
.upload_warp_text {
  text-align: left;
  margin-bottom: 10px;
  padding-top: 10px;
  text-indent: 14px;
  border-top: 1px solid #ccc;
  font-size: 14px;
}
.upload_warp_right {
  float: left;
  width: 57%;
  margin-left: 2%;
  height: 100%;
  border: 1px dashed #999;
  border-radius: 4px;
  line-height: 130px;
  color: #999;
}
.upload_warp_left img {
  margin-top: 32px;
}
.upload_warp_left {
  float: left;
  width: 40%;
  height: 100%;
  border: 1px dashed #999;
  border-radius: 4px;
  cursor: pointer;
}
.upload_warp {
  margin: 14px;
  height: 130px;
  width:  1000px;
}
.upload {
  border: 1px solid #ccc;
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 1px 0px #ccc;
  border-radius: 4px;
}
.hello {
  width: 650px;
  margin-left: 27%;
  text-align: center;
}
.upload_button{
  width: 100px;
  height: 30px;
  cursor:pointer 
}