<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.Bk_roomsMapper">
  <resultMap id="BaseResultMap" type="com.entity.Bk_rooms">
    <id column="Rid" jdbcType="INTEGER" property="rid" />
    <result column="Rname" jdbcType="VARCHAR" property="rname" />
    <result column="Rdescribe" jdbcType="VARCHAR" property="rdescribe" />
    <result column="Rinstructions" jdbcType="VARCHAR" property="rinstructions" />
    <result column="Rprice" jdbcType="DECIMAL" property="rprice" />
    <result column="Rnumber" jdbcType="INTEGER" property="rnumber" />
    <result column="Rstay" jdbcType="CHAR" property="rstay" />
    <result column="Rstaydate" jdbcType="TIMESTAMP" property="rstaydate" />
    <result column="Rcheckdate" jdbcType="TIMESTAMP" property="rcheckdate" />
    <result column="Hoid" jdbcType="INTEGER" property="hoid" />
    <result column="Rbedtype" jdbcType="VARCHAR" property="rbedtype" />
     <result column="Sum" jdbcType="INTEGER" property="sum" />
    <result column="Rcheckin" jdbcType="INTEGER" property="rcheckin" />
  </resultMap>
  <sql id="Base_Column_List">
    Rid, Rname, Rdescribe, Rinstructions, Rprice, Rnumber, Rstay, Rstaydate, Rcheckdate, 
    Hoid, Rbedtype
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bk_rooms
    where Rid = #{rid,jdbcType=INTEGER}
  </select>
  
  <!--查询所有房间 -->
  <select id="getAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
       SELECT bk_rooms.*,COUNT(Rbedtype) as Sum FROM bk_rooms  WHERE hoid = #{hoid} AND Rstay = 2  GROUP BY Rbedtype;
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bk_rooms
    where Rid = #{rid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Bk_rooms">
    insert into bk_rooms (Rid, Rname, Rdescribe, 
      Rinstructions, Rprice, Rnumber, 
      Rstay, Rstaydate, Rcheckdate, 
      Hoid, Rbedtype)
    values (#{rid,jdbcType=INTEGER}, #{rname,jdbcType=VARCHAR}, #{rdescribe,jdbcType=VARCHAR}, 
      #{rinstructions,jdbcType=VARCHAR}, #{rprice,jdbcType=DECIMAL}, #{rnumber,jdbcType=INTEGER}, 
      #{rstay,jdbcType=CHAR}, #{rstaydate,jdbcType=TIMESTAMP}, #{rcheckdate,jdbcType=TIMESTAMP}, 
      #{hoid,jdbcType=INTEGER}, #{rbedtype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Bk_rooms">
    insert into bk_rooms
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        Rid,
      </if>
      <if test="rname != null">
        Rname,
      </if>
      <if test="rdescribe != null">
        Rdescribe,
      </if>
      <if test="rinstructions != null">
        Rinstructions,
      </if>
      <if test="rprice != null">
        Rprice,
      </if>
      <if test="rnumber != null">
        Rnumber,
      </if>
      <if test="rstay != null">
        Rstay,
      </if>
      <if test="rstaydate != null">
        Rstaydate,
      </if>
      <if test="rcheckdate != null">
        Rcheckdate,
      </if>
      <if test="hoid != null">
        Hoid,
      </if>
      <if test="rbedtype != null">
        Rbedtype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="rname != null">
        #{rname,jdbcType=VARCHAR},
      </if>
      <if test="rdescribe != null">
        #{rdescribe,jdbcType=VARCHAR},
      </if>
      <if test="rinstructions != null">
        #{rinstructions,jdbcType=VARCHAR},
      </if>
      <if test="rprice != null">
        #{rprice,jdbcType=DECIMAL},
      </if>
      <if test="rnumber != null">
        #{rnumber,jdbcType=INTEGER},
      </if>
      <if test="rstay != null">
        #{rstay,jdbcType=CHAR},
      </if>
      <if test="rstaydate != null">
        #{rstaydate,jdbcType=TIMESTAMP},
      </if>
      <if test="rcheckdate != null">
        #{rcheckdate,jdbcType=TIMESTAMP},
      </if>
      <if test="hoid != null">
        #{hoid,jdbcType=INTEGER},
      </if>
      <if test="rbedtype != null">
        #{rbedtype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Bk_rooms">
    update bk_rooms
    <set>
      <if test="rname != null">
        Rname = #{rname,jdbcType=VARCHAR},
      </if>
      <if test="rdescribe != null">
        Rdescribe = #{rdescribe,jdbcType=VARCHAR},
      </if>
      <if test="rinstructions != null">
        Rinstructions = #{rinstructions,jdbcType=VARCHAR},
      </if>
      <if test="rprice != null">
        Rprice = #{rprice,jdbcType=DECIMAL},
      </if>
      <if test="rnumber != null">
        Rnumber = #{rnumber,jdbcType=INTEGER},
      </if>
      <if test="rstay != null">
        Rstay = #{rstay,jdbcType=CHAR},
      </if>
      <if test="rstaydate != null">
        Rstaydate = #{rstaydate,jdbcType=TIMESTAMP},
      </if>
      <if test="rcheckdate != null">
        Rcheckdate = #{rcheckdate,jdbcType=TIMESTAMP},
      </if>
      <if test="hoid != null">
        Hoid = #{hoid,jdbcType=INTEGER},
      </if>
      <if test="rbedtype != null">
        Rbedtype = #{rbedtype,jdbcType=VARCHAR},
      </if>
    </set>
    where Rid = #{rid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Bk_rooms">
    update bk_rooms
    set Rname = #{rname,jdbcType=VARCHAR},
      Rdescribe = #{rdescribe,jdbcType=VARCHAR},
      Rinstructions = #{rinstructions,jdbcType=VARCHAR},
      Rprice = #{rprice,jdbcType=DECIMAL},
      Rnumber = #{rnumber,jdbcType=INTEGER},
      Rstay = #{rstay,jdbcType=CHAR},
      Rstaydate = #{rstaydate,jdbcType=TIMESTAMP},
      Rcheckdate = #{rcheckdate,jdbcType=TIMESTAMP},
      Hoid = #{hoid,jdbcType=INTEGER},
      Rbedtype = #{rbedtype,jdbcType=VARCHAR}
    where Rid = #{rid,jdbcType=INTEGER}
  </update>
</mapper>