<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.Rooms_typeMapper">
  <resultMap id="BaseResultMap" type="com.entity.Rooms_type">
    <id column="Rtid" jdbcType="INTEGER" property="rtid" />
    <result column="Rttypename" jdbcType="VARCHAR" property="rttypename" />
    <result column="Rtdescribe" jdbcType="VARCHAR" property="rtdescribe" />
    <result column="Rpictures" jdbcType="VARCHAR" property="rpictures" />
  </resultMap>
  <sql id="Base_Column_List">
    Rtid, Rttypename, Rtdescribe, Rpictures
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rooms_type
    where Rtid = #{rtid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rooms_type
    where Rtid = #{rtid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Rooms_type">
    insert into rooms_type (Rtid, Rttypename, Rtdescribe, 
      Rpictures)
    values (#{rtid,jdbcType=INTEGER}, #{rttypename,jdbcType=VARCHAR}, #{rtdescribe,jdbcType=VARCHAR}, 
      #{rpictures,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Rooms_type">
    insert into rooms_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rtid != null">
        Rtid,
      </if>
      <if test="rttypename != null">
        Rttypename,
      </if>
      <if test="rtdescribe != null">
        Rtdescribe,
      </if>
      <if test="rpictures != null">
        Rpictures,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rtid != null">
        #{rtid,jdbcType=INTEGER},
      </if>
      <if test="rttypename != null">
        #{rttypename,jdbcType=VARCHAR},
      </if>
      <if test="rtdescribe != null">
        #{rtdescribe,jdbcType=VARCHAR},
      </if>
      <if test="rpictures != null">
        #{rpictures,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Rooms_type">
    update rooms_type
    <set>
      <if test="rttypename != null">
        Rttypename = #{rttypename,jdbcType=VARCHAR},
      </if>
      <if test="rtdescribe != null">
        Rtdescribe = #{rtdescribe,jdbcType=VARCHAR},
      </if>
      <if test="rpictures != null">
        Rpictures = #{rpictures,jdbcType=VARCHAR},
      </if>
    </set>
    where Rtid = #{rtid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Rooms_type">
    update rooms_type
    set Rttypename = #{rttypename,jdbcType=VARCHAR},
      Rtdescribe = #{rtdescribe,jdbcType=VARCHAR},
      Rpictures = #{rpictures,jdbcType=VARCHAR}
    where Rtid = #{rtid,jdbcType=INTEGER}
  </update>
</mapper>